#hashtags-container{
    /* display: flex; */
}

.tag::after{
    content: 'x';
    font-weight: bold;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    padding: 5px;
    cursor: pointer;
    pointer-events: all;
   
}

.tag{
    display: inline;
    margin-right: 15px;
    padding: 5px;
    word-wrap: break-word;
    color:  white;
    background: #4169E1;
    pointer-events: none;
    /* border:1px solid ; */
    border-radius: 40px;

}