.nav {
    padding-bottom: 5px;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 0.5px solid #d0d0d0;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

ul {
    list-style: none;
}

.left-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    margin-bottom: 30px;
}

.left-nav p {
    margin: 5px;
}

.right-nav {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.right-nav li a i:hover {
    color: blue;
}

.signup-btn {
    border-radius: 40px;
    background: #4169E1;
    color: white !important;
    padding: 3px 20px 3px 20px;
    margin-left: 5px;
}

.signup-btn:focus,
.signup-btn:hover {
    border: 1px solid #4169E1;
    color: black !important;
    background: white;
}

.custom-button {
    border: 1px solid #4169E1;
    border-radius: 40px;
    padding: 2px 20px 2px 20px;
    margin-left: 5px;
}

.custom-button:focus,
.custom-button:hover {
    outline: none;
    background: #4169E1;
    color: white;
}

.search-box {
    display: inline-block;
}

#hashtagInput {
    word-spacing: 0.1em;
    border: 1px solid #c0c0c0;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
}

#hashtagInput:focus {
    outline: none;
}

.small-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 20px;
}

.right-nav li a i {
    font-size: 25px;
    color: grey;
    padding-right: 20px;
}

#noti-count {
    position: relative;
    top: -15px;
    left: 15px;
    color: white;
    background: red;
    border-radius: 50%;
    padding: 1px 5px 1px 5px;
    display: block;
    margin-right: 20px;
}

@media only screen and (min-width: 700px) {
    .left-nav {
        width: 40%;
        float: left;
        padding-top: 20px;
        margin-bottom: 0;
    }
    .right-nav {
        padding-top: 20px;
        width: 50%;
        float: right;
    }
}

@media only screen and (min-width: 900px) {
    .guest-right-nav {
        justify-content: center;
    }
    .guest-right-nav li {
        margin-left: 40px;
    }
}

@media only screen and (min-width: 1600px) {
    .right-nav {
        justify-content: center;
    }
    .right-nav li {
        margin-left: 100px;
    }
}